rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if request.auth.uid == userId;
      allow update, delete: if request.auth.uid == userId;
    }

    match /users/{userId}/library/{gameId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /reviews/{reviewId} {
      allow read: if isSignedIn();
      allow create: if request.auth.uid == request.resource.data.userId;
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    match /follows/{followId} {
      allow read: if isSignedIn();
      allow create: if request.auth.uid == request.resource.data.followerId
        && request.resource.data.followerId != request.resource.data.followingId;
      allow delete: if isSignedIn() && request.auth.uid == resource.data.followerId;
    }

    match /games/{gameId} {
      allow read: if isSignedIn();
      allow write: if false;
    }
  }
}